#top {
    margin: 23px 20px 20px 20px;
    text-align: right;
    font-family: Arial;
    font-size: 13px;
}
#searchform {
    margin: auto;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 40%;
}
#searchbox {
    height: 35px;
    width: 500px;
    font-size: 16px;
}